:root {
  /* Font Sizes */
  --font-large: 4rem;
  --font-medium: 2rem;
  --font-regular: 1rem;

  /* Font Weight */
  --weight-bold: 700;

  /* Colors */
  --clr-white: #ffffff;
  --clr-background: #293b5f;
  --clr-dropbox: #47597e;
  --clr-text: #dbe6fd;
  --clr-highlight: #dfce84;
  --clr-input: #acbee0;
  --clr-green: #057d43;
  --clr-light-green: #03fc84;
  --clr-red: #e40b00;

  /* Timer */
  --timer-transition: 350ms;
}

/* Global */
body,
ul {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Typography */
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: var(--clr-text);
}

h1 {
  font-size: var(--font-medium);
}

h2 {
  font-size: var(--font-regular);
}

.highlight {
  color: var(--clr-highlight);
  font-weight: var(--weight-bold);
}

/* Main container */
.container-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  background-color: var(--clr-background);
}

/* Navbar */
.container-icon {
  width: 100%;
  margin: 1.75rem;
}

.icon__menu {
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: var(--font-medium);
}

.icon__item {
  padding: 0 1rem;
  cursor: pointer;
}

.fa-play,
.fa-pause,
.fa-trash-alt {
  transition: all 350ms ease-in;
}

.fa-play.active,
.fa-pause.active {
  color: var(--clr-green);
}

.fa-play:hover,
.fa-pause:hover {
  color: var(--clr-light-green);
  transform: scale(1.2);
}

.fa-trash-alt:hover {
  color: var(--clr-red);
  transform: scale(1.2);
}

/* Instruction */
.container-instruction {
  text-align: center;
}

/* Dropbox */
.container-dropbox {
  flex-grow: 1;
}

.dropbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 70vh;
  font-size: var(--font-regular);
  background-color: var(--clr-dropbox);
  border: 2px dashed var(--clr-white);
}

.dropbox.active {
  border: 2px solid var(--clr-highlight);
}

.dropbox i {
  font-size: var(--font-large);
  color: var(--clr-white);
  pointer-events: none;
}

.dropbox p {
  pointer-events: none;
}

.dropbox__btn-browse {
  border: none;
  outline: none;
  padding: 0.75rem 1.75rem;
  font-size: var(--font-regular);
  background-color: var(--clr-background);
  cursor: pointer;
  transition: all var(--timer-transition) ease-in-out;
}

.dropbox__btn-browse:hover {
  background-color: var(--clr-input);
  color: var(--clr-background);
  border-radius: 15px;
}

.dropbox__file-loader {
  visibility: hidden;
}

/* Footer */
.container-footer {
  padding-top: 1em;
  background-color: var(--clr-background);
  text-align: center;
}

.footer__github {
  font-size: var(--font-medium);
  transition: transform var(--timer-transition) ease-in-out;
}

.footer__github:hover {
  color: var(--clr-highlight);
  transform: scale(1.25);
}

/* Image Slider  */
.container-slider {
  position: relative;
  display: none;
  width: 90vw;
  height: 80vh;
  overflow-y: hidden;
  background-color: var(--clr-white);
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.visible {
  opacity: 1;
}

/* When screen is wider than 900px */
@media screen and (min-width: 900px) {
  h1 {
    font-size: var(--font-large);
  }

  h2 {
    font-size: var(--font-medium);
    margin: 0;
  }

  /* Dropbox */
  .dropbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 600px;
    font-size: var(--font-regular);
    background-color: var(--clr-dropbox);
    border: 2px dashed var(--clr-white);
  }

  .dropbox i {
    font-size: calc(var(--font-large) + 1.75rem);
    color: var(--clr-white);
  }

  .dropbox p {
    font-size: var(--font-medium);
  }

  .dropbox__btn-browse {
    font-size: var(--font-medium);
  }
}
