// Colors
$clrWhite: #ffffff;
$clrBackground: #293b5f;
$clrDropbox: #47597e;
$clrText: #dbe6fd;
$clrHighlight: #dfce84;
$clrInput: #acbee0;
$clrGreen: #057d43;
$clrLightGreen: #03fc84;
$clrRed: #e40b00;
